#cssmenu {
  display: flex;
  padding: 0px 0;
}
@media (max-width: 768px) {
  #cssmenu {
    display: none;
  }
}
#cssmenu .item_empty {
  list-style: none;
}
#cssmenu .dropdown-menu {
  border: none;
  width: 250px;
}
#cssmenu .item .menu_con {
  text-indent: 30px;
  display: none;
  position: relative !important;
  background: none;
}
#cssmenu .item .menu_con .list-unstyled .sub-menu-level1 {
  line-height: 20px;
}
#cssmenu .item .menu_con .list-unstyled .sub-menu-level1 .sub-menu-item {
  padding: 0px;
  text-transform: none;
}
#cssmenu .item:hover .menu_con {
  display: block;
}
#cssmenu > ul {
  position: unset;
  /* Show the dropdown menu on hover */
}
#cssmenu > ul .dropdown-content {
  display: block;
  position: absolute;
  z-index: 1;
  min-width: 300px;
}
#cssmenu > ul .dropdown-content li {
  width: 100%;
}
#cssmenu > ul .dropdown-content .divider {
  margin-right: 25px;
  margin-left: 25px;
}
#cssmenu > ul .dropdown-content a {
  text-decoration: none;
  display: block;
  background: #ffffff;
  color: #4e8e52 !important;
  font-size: 16px;
  font-weight: normal;
  font-family: "Futura-Book";
  padding: 0 20px !important;
}
#cssmenu > ul .dropdown-content a:hover {
  background: #ffffff;
  color: red;
}
#cssmenu > ul .dropdown-content .dropdown-menu {
  display: block !important;
  position: none !important;
}
#cssmenu > ul .level_0 {
  position: relative;
}
#cssmenu > ul .level_0:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -8px;
  bottom: 32px;
}
#cssmenu > ul .level_00 {
  position: relative;
}
#cssmenu > ul .level_00:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -8px;
  bottom: 32px;
}
#cssmenu > ul .level_02 {
  position: relative;
}
#cssmenu > ul .level_02:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -8px;
  bottom: 32px;
}
#cssmenu > ul .level_03 {
  position: relative;
}
#cssmenu > ul .level_03:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -8px;
  bottom: 32px;
}
#cssmenu > ul > li {
  position: relative;
  padding: 0;
}
#cssmenu > ul > li.item_empty {
  list-style: none;
  width: 335px !important;
  min-height: 1px;
}
#cssmenu > ul > li > a {
  transition: all 0.4s ease-in-out;
  position: relative;
  display: block;
}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li > a:focus {
  background: none;
}
#cssmenu > ul > li .logo {
  border-bottom: none;
}
#cssmenu > ul > li .logo:hover, #cssmenu > ul > li .logo:focus {
  background: none;
  border-bottom: none;
}
#cssmenu > ul > li:hover .dropdown-menu {
  animation: spMenuFadeInUp 400ms;
  display: block;
  top: 100%;
  padding: 0;
  margin-top: -1px;
  left: -1px;
}

.menu-mobile {
  float: left;
  width: 100%;
}
.menu-mobile a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.menu-mobile > li {
  border-bottom: 1px solid #e8e8e8;
  transition: 300ms;
}
.menu-mobile > li div {
  transition: 300ms;
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  line-height: 28px;
}
.menu-mobile > li div .offcanvas-menu-toggler {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 20px;
  cursor: pointer;
}
.menu-mobile > li div .fa {
  display: none;
}
.menu-mobile > li .sub-1 {
  padding-left: 20px;
}
.menu-mobile > li .sub-2 {
  padding-left: 30px;
}
.menu-mobile > li ul {
  display: none;
}
.menu-mobile li.parent .fa-angle-down {
  display: block;
}
.menu-mobile li.open {
  background-color: rgba(0, 0, 0, 0.15);
}
.menu-mobile li.open .fa-angle-down {
  display: none;
}
.menu-mobile li.open .fa-angle-up {
  display: block;
}
.menu-mobile > li {
  border: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}/*# sourceMappingURL=megamenu.css.map */