body{
    .container {
        max-width: 1140px !important;
    }
}
.contents_detail {
    background: url(../images/nen.svg);
    .model {
        display: flex;
        align-items: center;
        background: #ffffff;
        margin-bottom: 30px;
        .image {
            width: 40%;
            img {
                width: 100%;
            }
        }
        .noi-dung {
            width: 60%;
            padding: 0px 13%;
            text-align: center;
            img {
                margin-bottom: 24px;
            }
            h2 {
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.87);
                margin-bottom: 24px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 132%;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
            }
            a {
                color: #f9b703;
                position: relative;
                font-weight: 700;
                letter-spacing: 1px;
                text-decoration: none;
                line-height: 26px;
                display: inline-block;
                text-transform: uppercase;
            }
            a::after {
                content: "";
                background-color: #f9b703;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                transition: width 0.3s ease-in-out;
            }
            a:hover::after {
                width: 0;
            }
        }
        &:nth-child(even) {
            .image {
                order: 2;
            }
            .noi-dung {
                order: 1;
            }
        }
    }
}